#middle{
    padding-top: 150px;
    overflow: hidden;
    margin-bottom: 50px;
    p{
        color: #989a9f;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 50px;
    }
    .big_title{
        margin-top: 70px;
        margin-bottom: 50px;
        color: #ebecef;
        text-align: center;
        font-size:37px ;
        p{
            color: #EBECEF !important;
            font-size: 13px;
            a{
                color: #EBECEF;
            }
            span{
                margin: 0 3px;
            }
        }
    }
}
.contant{
    margin: 0 auto;
}