.contant{
    margin: 0 auto;
}
#middle{
    padding-top: 100px;
    overflow: hidden;
    margin-bottom: 50px;
    p{
        color: #989a9f;
        font-size: 16px;
        line-height: 27px;
    }
    
    .big_title{
        margin-top: 70px;
        margin-bottom: 30px;
        color: #ebecef;
        text-align: center;
        font-size:37px ;
        p{
            color: #EBECEF !important;
            font-size: 13px;
            a{
                color: #EBECEF;
            }
            span{
                margin: 0 3px;
            }
        }
    }
    .blocks{
        margin-bottom: 30px;
        p{
            margin:0 ;
        }
        a{
            color: #616268;
            text-decoration: underline;
        }
       h4{
           color: #EBECEF;
       }
    }
    .form_list{
        form{
            width: 100%;
            &>div{
                width: 90%;
                margin: 0 auto;
                height: 40px;
                border-radius: 5px;
                margin-bottom: 10px;
                input[type='text']{
                     border-radius: 5px;
                    width: 100%;
                    border: none;
                    height: 100%;
                    background: #FFFFff;
                    padding: 0 8px;
                }
                input[type='submit']{
                    background: #616268;
                    width: 75px;
                    height: 32px;
                    border-radius: 5px;
                    border: none;
                    color: #FFFFFF;
                }
                button{
                    background: no-repeat;
                    float: right;
                    color: #FFFFFF;
                    border: none;
                }
                
            }
            .textarea_ {
                height: auto;
                textarea{
                    width: 100%;
                    min-height: 100px;
                    background: #FFFFFF;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}