html,body{
    height: 100%;
}
#middle{
    height: 100%;
}

.f_banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    ul{
        position: relative;
         height: 100%;
         width: 100%;
        li{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            div{
                width: 100%;
                height: 100%;
            }
            
            
        }
    }
}