.main_nav{height: 40px;font-size: 22px;border-bottom: 1px solid #dddddd;}
.main_nav .menu{width: 210px;height: 40px;line-height: 40px;background: #3599c8 url(../../img/common_img/sort.png) no-repeat 40px 14px;color: #fff;float: left;cursor: pointer;}
.main_nav .shop_order{position: relative;}
.main_nav .menu p{padding-left: 62px;}
.main_nav .menu p a{color: #fff;}
.main_nav .menu_right{float: left;height: 40px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 990px;}
.main_nav .menu_right li{line-height: 40px;padding: 0 30px;float: left;}
.main_nav .menu_right a{color: #333;}
.main_nav .menu_right a:hover{color: #3399cc;}
.main_nav .menu_right .on a{color: #3399cc;}
