#middle{
	background: #f2f1f1;
}
#middle .address{
	background: #FFFFFF;
	width: 1200px;
	border: 1px solid #c7c6c6;
	margin-top: 83px;
	margin-bottom: 50px;
	overflow: hidden;
}
#middle .address .left_list{
	width: 148px;
	background: #e3e3e3;
	float: left;
}
#middle .address .left_list div{
	margin-bottom: 30px;
}
#middle .address .left_list div h4{
	color: #3b3b3b;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#middle .address .left_list div ul{
	padding: 0;
	width: 100%;
}
#middle .address .left_list div ul li{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#middle .address .left_list div ul li:hover a{
	color: #f93b3b;
}
#middle .address .left_list div ul li a{
	color: #6a6a6a;
	font-size: 14px;
}
#middle .address .left_list div ul li.on a{
	color: #f93b3b;
}
#middle .address_right{
	float: left;
	overflow: hidden;
	width: 1050px;
}
#middle .address_right h3{
	font-size: 14px;
	color: #626162;
	height: 120px;
	line-height: 120px;
	margin: 0;
}
#middle .address_right h3 span{
	color: #d4236b;
}
#middle .address_right h3 a{
	display: inline-block;
	margin: 0 5px 0 95px;
}

#middle .address_right .add{
	width: 860px;
	height: 240px;
	border: 1px solid #e3e3e3;
	margin-left: 96px;
	margin-bottom: 46px;
	position: relative;
}
#middle .address_right .add h4{
	font-size: 16px;
	color: #494949;
	margin:20px 0 20px 75px;
}
#middle .address_right .add .list_left{
	width: 90px;
	float: left;
	margin-left: 40px;
}
#middle .address_right .add .list_left ul{
	padding: 0;
	
}
#middle .address_right .add .list_left ul li{
	float: right;
	font-size: 16px;
	color: #494949;
	margin-bottom: 12px;
	
}
#middle .address_right .add .list_right {
	float: left;
	width: 250px;
	margin-left: 15px;
}
#middle .address_right .add .list_right ul{
	padding: 0;
	
}
#middle .address_right .add .list_right ul li{
	float: right;
	font-size: 16px;
	color: #494949;
	margin-bottom: 12px;
	width: 100%;
	
}

#middle .address_right .add p{
	position: absolute;
	right: 0;
	bottom: 16px;
	margin: 0;
}
#middle .address_right .add p a{
	font-size: 16px;
	color: #012afa;
	margin-right: 50px;
	
}
#middle .address_right .page{
	overflow: hidden;
	text-align: center;
	margin: 15px 0 10px 0;
}
#middle .address_right .page ul{
	display: inline-block;	
	margin:0 ;
}
#middle .address_right .page ul li{
	float: left;
	margin-right: 35px;
}
#middle .address_right .page ul li a{
	color: #494949;
	font-size: 16px;
}
#middle .address_right .page ul li.on{
	color: #d7236a;
}
#middle .address_right .page ul li.prev a,
#middle .address_right .page ul li.next a{
	color: #bebdbd;
	font-weight: bold;
	font-size: 16px;
}