#middle{
	background: #f2f1f1;
}
#middle .order{
	background: #FFFFFF;
	width: 1200px;
	border: 1px solid #c7c6c6;
	margin-top: 83px;
	margin-bottom: 103px;
	overflow: hidden;
}
#middle .order .left_list{
	width: 148px;
	background: #e3e3e3;
	float: left;
	padding-bottom: 200px;
}
#middle .order .left_list div{
	margin-bottom: 30px;
}
#middle .order .left_list div h4{
	color: #3b3b3b;
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#middle .order .left_list div ul{
	padding: 0;
	width: 100%;
}
#middle .order .left_list div ul li{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#middle .order .left_list div ul li:hover a{
	color: #f93b3b;
}
#middle .order .left_list div ul li a{
	color: #6a6a6a;
	font-size: 14px;
}
#middle .order .left_list div ul li.on a{
	color: #f93b3b;
}



#middle .order_right{
	float: left;
	overflow: hidden;
	width: 1050px;
}
#middle .order_right h4 {
	margin-top: 30px;
	height: 50px;
}
#middle .order_right h4 ul{
	padding: 0;
	height: 50px;
	margin-left: 80px;
	line-height: 50px;
}
#middle .order_right h4 ul li{
	float: left;
	height: 50px;
	margin-right: 60px;
}

#middle .order_right h4 ul li span.badge{
	color: #FFFFFF;
	height: 31px;
	width: 31px;
	background: #f93b3b;
	border-radius:15px ;
	font-size: 16px;
	padding: 8px 10px;
	font-weight: normal;
	float: right;
}
#middle .order_right h4 ul li a{
	color: #767676;
}
#middle .order_right h4 ul li.on a{
	color: #f93b3b;
}

#middle .order_right .order_center{
	width: 960px;
	margin: 0 auto;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
}

#middle .order_right .order_center table{
	margin-top: 50px;
	display: none;
}
#middle .order_right .order_center table.on{
	display: block;
}

#middle .order_right .order_center table tr{
	border: 1px solid #e3e3e3;
	width: 100%;
	height: 130px;
}
#middle .order_right .order_center table tr .img{
	width: 150px;

}
#middle .order_right .order_center table tr .img a{
	display: block;
	width: 86px;
	height: 86px;
	margin: auto auto;
}
#middle .order_right .order_center table tr .img img{
	width: 100%;
	height: 100%;
}
#middle .order_right .order_center table tr .text{
	width: 300px;
	height: 130px;
	line-height: 130px;
	font-size: 14px;
}
#middle .order_right .order_center table tr .text a{
	color: #646464;
}
#middle .order_right .order_center table tr .price{
	width: 120px;
	height: 130px;
	font-size: 14px;
	
}
#middle .order_right .order_center table tr .price p{
	text-align: center;
	font-size: 14px;
	color: #646464;
}
#middle .order_right .order_center table tr .price p span{
	display: block;
	font-size: 14px;
	color: #ff000c;
}
#middle .order_right .order_center table tr .time{
	width: 120px;
	height: 130px;
	text-align: center;
}
#middle .order_right .order_center table tr .wait{
	width: 160px;
	height: 130px;
	text-align: center;
	color: #f57d08;
}
#middle .order_right .order_center table tr .look{
	width: 110px;
	height: 130px;
	text-align: center;
}
#middle .order_right .order_center table tr .look a{
	color: #8f8f8e;
}
#middle .order_right .order_center .button{
	overflow: hidden;
	width: 100%;
	margin: 32px 0 60px 0;
}
#middle .order_right .order_center .button button{
	outline: none;
	width: 140px;
	height: 50px;
	background: #fcf5fd;
	border: 1px solid #cccccc;
	border-radius: 1px;
	float: right;
	margin-left: 6px;
	color: #5e5b5b;
}
#middle .order_right .order_center .button button.on{
	outline: none;
	background: #f93b3b;
	color: #FFFFFF;
}
#middle .order_right .page{
	margin: 40px 0 0 305px;
	overflow: hidden;
}
#middle .order_right .page ul li{
	float: left;
	margin-right: 35px;
}
#middle .order_right .page ul li a{
	color: #494949;
	font-size: 16px;
}
#middle .order_right .page ul li.on{
	color: #d7236a;
}
#middle .order_right .page ul li.prev a,
#middle .order_right .page ul li.next a{
	color: #bebdbd;
	font-weight: bold;
	font-size: 16px;
}
#middle .order_right h5{
	color: #888788;
	font-size: 16px;
	line-height: 26px;
	padding: 0 75px;
	margin-top: 15px;
}
#middle .order_right h5 span{
	width: 136px;
	height: 26px;
	display: inline-block;
	background: #fa1a1a;
	text-align: center;
}
#middle .order_right h5 span a{
	display: block;
	color: #FFFFFF;
}
#middle .order_right h5 a:nth-child(3){
	display: inline-block;
	float: right;
	color: #0030ff;
	font-size: 16px;
}
