.about_us{width:100%;}

.about_us h4{height: 0.9rem; width: 100%; font-size: 0.24rem; font-weight: normal;text-align: center;line-height: 0.9rem; border-bottom: 1px solid #000000;}
.about_us .about{margin-bottom: 0.6rem;}
.about_us .about p{font-size: 0.18rem; text-indent: 2em; line-height: 0.32rem; margin-top: 0.2rem;}
.about_us .about img{margin:0.28rem 7% ; width: 86%; height: 3.2rem;}

